@import '../fonts';

.tabs-em {
    width: 150px;
    position: relative;
    .tab {
        width: 150px;
        height: auto;
        margin: 0;
        .tablinks {
            display: block;
            color: #737689;
            padding: 20px 10px;
            opacity: 0.5;
            transition: 0.3s;
            &.active,
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            &:first-child {
                padding-top: 0px;
            }
            svg {
                float: left;
            }
            .tablinks-name {
                font-family: fontDinCondensed;
                font-size: 1.4em;
                span {
                    margin-left: 10px;
                    line-height: 37px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .tabs-em {
        width: auto;
        .tab {
            width: auto;
            .tablinks {
                display: inline-flex;
                padding: 15px 10px;
            }
        }
    }
}