@import '../variables';
@import '../fonts';

.sidenav {
    width: $sidenavSize;
    background: $mainColor;
    &.sidenav-fixed {
        padding: 0 20px;
    }
    .closebtn {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #FFF;
    }

    .item-logo {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 35px;
    }
    .logo {
        width: 80px;
    }
    .item-menu {
        text-align: center;
        line-height: unset;
    }
    .item-menu {
        &:hover {
            cursor: pointer;
        }
        &:hover.disabled {
            cursor: not-allowed;
        }
        &.disabled #Tela-01-Dashboard-Checkout {
            fill: #049C7A;
        }
        #Tela-01-Dashboard-Checkout {
            fill: #FFF;
        }
        .item-name {
            margin-top: 8px;
            font-family: fontAvenir;
            font-size: 1.2em;
            color: #FFF;
        }
        &.disabled .item-name {
            color: #049C7A;
        }
        &.cadastre {
            margin-top: 40px;
        }
    }
}

@keyframes showMenu {
    from {
        transform: translateX(-105%);
    }
    to {
        transform: translateX(0%);
    }
  }

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 600px) {
    .sidenav.sidenav-fixed {
        transform: translateX(-105%);
        animation: showMenu 1s;
        transition: 1s;
        &.open {
            transform: translateX(0%);
        }
    }

    .hide-mobile {
        display: none;
    }
}