@import '../variables';

html {
    background: #F5F7FA;
}

header,
main,
footer {
    margin-left: $sidenavSize;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    line-height: 100vh;
    background: #000;
    opacity: 0.8;
}

.row,
.col {
    padding: 0px !important;
}

.bg-page.open {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0.9;
}

.bg-page {
    width: 0%;
    opacity: 0;
    transition: opacity 1s;
}

@media only screen and (max-width: 600px) {
    header,
    main,
    footer {
        margin-left: 0px;
    }
}