@import '../fonts';

.filter {
    .btn-link {
        height: 40px;
        padding: 0 20px;
        color: #FFF;
        font-family: fontDinCondensed;
        font-size: 16px;
        border-radius: 16px;
        background: #09D0A3;
        border: unset;
        margin: 0 7px;
        opacity: 0.5;
        transition: 0.3s;
        &.active,
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        .btn-link-name {
            vertical-align: sub;
        }
    }
}

@media only screen and (max-width: 800px) {
    .filter {
        display: inline-flex;
        overflow: auto;
        white-space: nowrap;
        position: relative;
        width: calc(100vw - 375px);
    }
}

@media only screen and (max-width: 600px) {
    .filter {
        display: inline-flex;
        overflow: auto;
        white-space: nowrap;
        position: relative;
        width: calc(100vw - 40px);
    }
}