@import '../fonts';

.nav-path {
    border-bottom: 1px solid #E0E1E3;
    // padding-left: 20px;
    .nav-path-ul {
        margin: 0px;
        overflow: hidden;
        li {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0px 30px;
            line-height: 100px;
            position: relative;
            &.btn-menu {
                padding: 0px 0px 0px 10px;
                line-height: 0px;
                svg {
                    margin-top: auto;
                    margin-bottom: auto;
                    height: 70px;
                }
            }
        }
        a {
            color: #737689;
            font-size: 13px;
            font-family: fontAvenir;
            &:hover {
                color: inherit;
            }
            &:focus {
                background: unset;
            }
            &.link:first-of-type {
                li::after {
                    content: '|';
                    right: 0;
                    position: absolute;
                }
                li {
                    padding-left: 20px;
                }
            }
            &.link:last-child {
                li {
                    padding-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav-path {
        margin-left: auto;
        margin-right: auto;
        .nav-path-ul {
            li {
                line-height: 70px;
                padding: 0px 25px;
                &.btn-menu {
                    padding-right: 20px;
                }
            }
            a {
                &.link:first-of-type {
                    li {
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}