@import '../../fonts';
@import '../../variables';

.totals {
    .amount {
        .title {
            font-family: fontDinCondensed;
            color: $fontColor1;
            text-align: center;
            font-size: 25px;
            margin: 40px auto 0px
        }
        .value {
            font-family: fontAvenir;
            color: $fontColor2;
            text-align: center;
            font-size: 70px;
            margin: 10px auto 0px;
        }
        .line {
            color: #E0E1E3;
            border: 1px solid;
            margin: 30px 0px 0px;
        }
    }
    .graph-expenses,
    .graph-services {
        // float: right;
        canvas {
            width: 100% !important;
            height: auto !important;
            margin-top: 50px;
            padding: 0 20px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .totals {
        .amount {
            .value {
                font-size: 45px;
            }
        }
    }
}