@font-face {
    font-family: fontAvenir;
    src: url('../fonts/Avenir.ttc') format('truetype');
}

@font-face {
    font-family: fontDinCondensed;
    src: url('../fonts/DIN\ Condensed\ Bold.ttf') format('truetype');
}