.home {
    padding-left: 39px;
    padding-top: 40px;
    display: inline-flex;
    width: 100%;
    .content {
        width: 100%;
    }
    .totals,
    .clients {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        padding-left: 0px;
        padding-top: 0px;
        display: block;
    }
}