@import '../../fonts';
@import '../../variables';

.error-page-404 {
    text-align: center;
}

.error-page-404 .error-number {
    font-weight: bold;
    font-family: fontDinCondensed;
    font-size: 7em;
    color: $mainColor;
    opacity: 0.7;
}

.error-page-404 .error-message {
    color: $fontColor1;
    font-size: 2em;
    font-family: fontDinCondensed;
    margin-top: -14px;
}

@media only screen and (max-width: 600px) {
    .error-page-404 {
        width: 100vw;
    }
}