@import '../fonts';
@import '../variables';

$cellColor: #E5E9EF;

.table {
    overflow: auto;
    width: calc(100vw - 390px);
    .warning {
        text-align: center;
        font-size: 20px;
        margin-top: 60px;
        font-family: fontAvenir;
        font-weight: bold;
    }
    table {
        font-size: 1.2em;
        font-family: fontAvenir;
        thead {
            tr {
                border: none;
                th {
                    &.title {
                        font-weight: bold;
                        color: $mainColor;
                        padding: 20px 30px;
                    }
                }
            }
        }
        tbody {
            tr {
                border: none;
                &:nth-child(2n+1) {
                    background: $cellColor;
                }
                td {
                    &.text {
                        font-weight: 500;
                        color: $fontColor1;
                        padding: 20px 30px;
                    }
                    &:first-child {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                    &:last-child {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .table {
        width: calc(100vw - 40px);
    }
}