@import '../variables';
@import '../fonts';

$searchIcon: #989DAC;
$searchFontColor: #B5B6C2;

.search-field {
    .search-field-form {
        input[type=text] {
            padding: 10px 10px 10px 45px;
            font-size: 17px;
            font-family: fontAvenir;
            color: $searchIcon;
            border: 1px solid $searchFontColor;
            float: left;
            width: 330px;
            border-radius: 20px;
            height: 20px;
            background: #FFF;
            caret-color: #049C7A;
            &:focus {
                border-bottom: 1px solid $searchFontColor;
                border: 1px solid $mainColor; 
                box-shadow: unset;
            }
            &::placeholder {
                color: $searchFontColor;
            }
            &::selection {
                color: #FFF;
                background: $mainColor;
            }
        }
        button {
            float: left;
            height: 40px;
            padding: 10px;
            background: transparent;
            border: unset;
            border-left: none;
            cursor: pointer;
            position: absolute;
            .search-icon {
                font-size: 25px;
                font-weight: bold;
                color: $searchIcon;
            }
        }
        &:hover {
            opacity: 1;
        }
        ::after {
            content: "";
            clear: both;
            display: table;
        }
    }
}

@media only screen and (max-width: 600px) {
    .search-field {
        .search-field-form {
            input[type=text] {
                width: calc(100% - 58px);
            }
        }
    }
}